@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.logo-font{
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;;
}

a{
    text-decoration: none;
    color: #111;
}

button{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

body{
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 전체 설정 끝 */
/* Header 영역 시작 */

header{
    position:sticky;
    top: 0;
    z-index: 999;
}

header .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    padding: 16px 8px 0 8px;
}

.nav-bar ul{
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: flex-start;
    padding-top: 18px;
    padding-bottom: 15px;
}

.nav-bar ul li{
    display: flex;
    align-items: center;
}

.nav-bar ul:first-child li:first-child{
    padding-left: 9px;
}

header .nav-bar ul:first-child li button{
    top: 0;
    display: flex;
    align-items: center;
}

header .nav-bar .nav-center a{
    display: flex;
    align-items: center;
    gap: 9.99px;
    margin-right: 17px;

    width: 127.47px;
    height: 59.06px;

    color: #000;
    font-size: 30px;
}

header .nav-bar .nav-center a img{
    width: 40.52px;
    height: 58.82px;
}

.nav-bar ul:last-child{
    gap: 0;
}

/* Header 영역 끝 */
/* main 영역 시작 */

main .start-container{
    height: 500vh;
    position: relative;
}

main .start-container .sticky{
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
}

main .start-container .sticky .start-page{
    display: flex;
    gap: 55.39px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    position: realative;
}

.scroll-indicator{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Irish Grover", system-ui;
    font-size: 1.2rem;
    color: #333;
    z-index: 50;
    opacity: 1 !important;

    animation: bounce 1s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(-50%) translateY(0);}
    40% {transform: translateX(-50%) translateY(-10px);}
    60% {transform: translateX(-50%) translateY(-5px);}
}

main .start-container .sticky .start-page img{
    width: 209.72px;
    height: 306.42px;
    position: relative;
}

main .start-container .sticky .start-page h1{
    font-size: 100px;
    font-weight: normal;
    position: relative;
    opacity: 0;
    width: 0;
    white-space: nowrap;
}

/* article 작성 끝 */
/* site nav 시작 */

main .site-nav{
    display: grid;
    margin:  0 auto ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    column-gap: 5rem;
    row-gap: 4rem;

    place-content: center;
    height: 100vh;
    width: 100%;
    overflow: clip;


}

main .site-nav .nav-item img{
    position: absolute;
    z-index: -1; 
    /* absolute 이미지 다른 것보다 아래로 보내기 */

    pointer-events: none;
}

main .site-nav .nav-item:nth-of-type(1){
    position: relative;
    justify-self: end;
    right: 5rem;
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    width: 18rem;
    aspect-ratio: 1 / 1;
    background: #DDC970;
    border-radius: 50%;
    

    display: flex;
    align-items: center;
    justify-content: center;

    color: #463011;
    font-size: 70px;
}
main .site-nav .nav-item:nth-of-type(1) img{
    left: -27rem;
    top: 10rem;
    opacity: 0;
    /* clip-path: inset(0 0 100% 100%);
    transition: none;JS 애니메이션을 위해 트랜지션은 끕니다 */
}

main .site-nav .nav-item:nth-of-type(2){
    position: relative;
    grid-row: 2 / 6;
    grid-column: 2 / 3;

    width: 20rem;
    aspect-ratio: 1 / 1;
    background: #463011;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #DDC970;
    font-size: 70px;
}

main .site-nav .nav-item:nth-of-type(2) img{
    left: 4rem;
    top: 0.5rem;
    /* clip-path: inset(0 100% 0 0) */
    opacity: 0;
}

main .site-nav .nav-item:nth-of-type(3){
    position: relative;
    justify-self: center; /*원모양 자체 가운데 정렬*/
    right: 5rem;
    grid-row: 5 / -1;
    grid-column: 1 / -1;

    width: 18rem;
    aspect-ratio: 1 / 1;
    background: #DDC970;
    border-radius: 50%;
    

    display: flex;
    align-items: center;
    justify-content: center;

    color: #463011;
    font-size: 70px;
}

main .site-nav .nav-item:nth-of-type(3) img{
    left: -7rem;
    top: 2.5rem;
    /* clip-path: inset(0 0 100% 0); */
    opacity: 0;
}
